* {

	font-family: "Arial", "Calibri";


}


th{
	height: 50px;
	width:50px;
	border-width: 1px;
	border-color: #000000;
	border-style: solid;

}

td{
	height: 50px;
	width:50px;
	border-width: 1px;
	border-color: #000000;
	border-style: solid;

}

.tableHeader{
	font-weight: 900;
	background-color: red;

}

.riskTitle{
	background-color: blue;
	font-size: 12px;

}

.plot{
	background-color: orange;

}

.three{
	background-color: yellow;

}

.bar{
	
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
